[submodule "vim/__tmp/vim-colors-solarized"]
	path = vim/repos/vim-colors-solarized
	url = git@github.com:altercation/vim-colors-solarized.git
[submodule "vim/__tmp/tagbar"]
	path = vim/repos/tagbar
	url = git@github.com:preservim/tagbar.git
[submodule "vim/__tmp/vim-surround"]
	path = vim/repos/vim-surround
	url = git@github.com:tpope/vim-surround.git
