[submodule "vim/__tmp/tagbar"]
	path = vim/repos/tagbar
	url = git@github.com:preservim/tagbar.git
[submodule "vim/__tmp/vim-surround"]
	path = vim/repos/vim-surround
	url = git@github.com:tpope/vim-surround.git
[submodule "vim/__tmp/vim-gitgutter"]
	path = vim/repos/vim-gitgutter
	url = git@github.com:airblade/vim-gitgutter.git
[submodule "vim/__tmp/vim-lsp"]
	path = vim/repos/vim-lsp
	url = git@github.com:prabirshrestha/vim-lsp.git
[submodule "vim/__tmp/vim-fugitive"]
	path = vim/repos/vim-fugitive
	url = git@github.com:tpope/vim-fugitive.git
[submodule "vim/__tmp/vim-commentary"]
	path = vim/repos/vim-commentary
	url = git@github.com:tpope/vim-commentary.git
[submodule "vim/__tmp/zoomwintab.vim"]
	path = vim/repos/zoomwintab.vim
	url = git@github.com:troydm/zoomwintab.vim.git
[submodule "vim/__tmp/vim-colors-solarized"]
	path = vim/__tmp/vim-colors-solarized
	url = git@github.com:LucasPayne/vim-colors-solarized.git
[submodule "vim/repos/vim-colors-solarized"]
	path = vim/repos/vim-colors-solarized
	url = git@github.com:LucasPayne/vim-colors-solarized.git
[submodule "vim/__tmp/quickpeek.vim"]
	path = vim/repos/quickpeek.vim
	url = git@github.com:AndrewRadev/quickpeek.vim.git
[submodule "vim/__tmp/focus-previous"]
	path = vim/repos/focus-previous/focus-previous
	url = https://github.com/viecks/focus-previous
[submodule "vim/__tmp/targets.vim"]
	path = vim/repos/targets.vim
	url = https://github.com/wellle/targets.vim
[submodule "vim/__tmp/nerdtree"]
	path = vim/repos/nerdtree
	url = git@github.com:preservim/nerdtree.git
[submodule "vim/__tmp/goyo.vim"]
	path = vim/repos/goyo.vim
	url = https://github.com/junegunn/goyo.vim
[submodule "vim/__tmp/vim-highlightedyank"]
	path = vim/repos/vim-highlightedyank
	url = git@github.com:machakann/vim-highlightedyank.git
[submodule "vim/__tmp/bufexplorer"]
	path = vim/repos/bufexplorer
	url = git@github.com:LucasPayne/bufexplorer.git
[submodule "vim/__tmp/vim-bbye"]
	path = vim/repos/vim-bbye
	url = git@github.com:LucasPayne/vim-bbye.git
