[Desktop Entry]
Comment=Start up the terminal with the normal shell
Exec=cool-retro-term --fullscreen -e $NORMAL_SHELL
GenericName=Terminal emulator
Icon=cool-retro-term
Name=Cool Retro Term normal
Categories=System;TerminalEmulator;
StartupNotify=true
Terminal=false
Type=Application
Keywords=shell;prompt;command;commandline;
