[Desktop Entry]
Comment=Start up the terminal with a terminal "desktop environment"
Exec=cool-retro-term --fullscreen -e termdesk
GenericName=Terminal emulator
Icon=cool-retro-term
Name=Cool Retro Term terminal desktop
Categories=System;TerminalEmulator;
StartupNotify=true
Terminal=false
Type=Application
Keywords=shell;prompt;command;commandline;
